<div class="container m-2 mt-5 text-center" id="session-active">
    <h2>Вы действительно хотите выйти?</h2>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active m-1">
            <%= button_to 'На главную', root_path, method: :get, class: "btn btn-success" %>
        </li>
        <li class="nav-item active m-1">
            <%= button_to 'Выйти', '/log/log', class: "btn btn-success" %>
        </li>
    </ul>
</div>
